body {
	padding: 60px;
}

h1 {
	color: #fff;
	background: linear-gradient(to right, white, black);
	font-size: 50px;
	font-weight: bold;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
ol{
	list-style : none;
}
.our-team-main {
	width: 100%;
	height: auto;
	border-bottom: 5px #323233 solid;
	background: #fff;
	text-align: center;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	transition: 0.5s;
	margin-bottom: 28px;
}

.our-team-main img {
	height: 110px;
	width: 110px;
	border-radius: 50%;
	margin-bottom: 20px;
}

.img-fluid1 {
	background-image: url("../img/edit.png");
	background-position: center;
	background-repeat: no-repeat;
}

.img-fluid2 {
	background-image: url("../img/graph.png");
	background-position: center;
	background-repeat: no-repeat;
}

.img-fluid3 {
	background-image: url("../img/routine.png");
	background-position: center;
	background-repeat: no-repeat;
}

.img-fluid4 {
	background-image: url("../img/instagram.png");
	background-position: center;
	background-repeat: no-repeat;
}

.img-fluid5 {
	background-image: url("../img/protein.png");
	background-position: center;
	background-repeat: no-repeat;
}

.img-fluid6 {
	background-image: url("../img/instagram.png");
	background-position: center;
	background-repeat: no-repeat;
}

.our-team-main h3 {
	font-size: 20px;
	font-weight: 700;
}

.our-team-main p {
	margin-bottom: 0;
}

.team-back {
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px 15px 0 15px;
	text-align: left;
	background: #fff;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.team-front {
	width: 100%;
	height: auto;
	position: relative;
	z-index: 10;
	background: #fff;
	padding: 15px;
	bottom: 0px;
	transition: all 0.5s ease;
}

.our-team-main:hover .team-front {
	bottom: -200px;
	transition: all 0.5s ease;
}

.our-team-main:hover {
	border-color: #777;
	transition: 0.5s;
}