<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hellchang.web.usr.UserMapper">
    <select id="selectByIdPw" resultType="User">
        SELECT * FROM USER
        WHERE UID LIKE #{uid} AND PWD LIKE #{pwd}
    </select>
    <insert id="insertUser" parameterType="User">
        INSERT INTO USER (UID, PWD, UNAME, GENDER, AGE, HEIGHT, WEIGHT, MUSCLE, FAT, CAREER, DIVISION) VALUES (
            #{uid}, #{pwd}, #{uname}, #{gender}, #{age}, #{height}, #{weight}, #{muscle}, #{fat}, #{career}, #{division}
        )
    </insert>
    <select id="existId" resultType="int">
    	SELECT COUNT(*) FROM USER
    	WHERE UID LIKE #{uid}
    </select>
    <update id="makeRoutine" parameterType="User">
    	UPDATE USER
    	SET PWD = #{pwd},
    	UNAME = #{uname},
    	GENDER = #{gender},
 	    AGE = #{age},
    	HEIGHT = #{height},
    	WEIGHT = #{weight},
    	MUSCLE = #{muscle},
    	FAT = #{fat},
    	CAREER = #{career},
    	DIVISION = #{division}
    	WHERE UID LIKE #{uid}
    </update>
    <select id="selectUpdatedUser" parameterType="User" resultType="User">
    	SELECT * FROM USER
    	WHERE UID LIKE #{uid}
   	</select>
</mapper>