<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hellchang.web.usr.UserMapper">
    <select id="selectByIdPw" parameterType="User" resultType="User">
        SELECT * FROM USERS
        WHERE USERID LIKE #{userid} AND PASSWD LIKE #{passwd}
    </select>
    <insert id="insertUser" parameterType="User">
        INSERT INTO USERS (USERID, PASSWD, UNAME, GENDER, AGE, HEIGHT, WEIGHT) VALUES (
            #{userid}, #{passwd}, #{uname}, #{gender}, #{age}, #{height}, #{weight}
        )
    </insert>
   	<!-- 아이디 중복체크 -->
	<select  id="existId" resultType="integer">
		SELECT COUNT(*) FROM USERS
		WHERE USERID LIKE #{userid} 
	</select>
	<select  id="createCenter" parameterType="hashMap">
	${CREATE_CENTER}
	</select>
    <update id="makeRoutine" parameterType="User">
    	UPDATE USERS
    	SET
    	UNAME = #{uname},
    	HEIGHT = #{height},
    	WEIGHT = #{weight},
    	MUSCLE = #{muscle},
    	FAT = #{fat},
    	CAREER = #{career},
    	DIVISION = #{division}
    	WHERE USERID LIKE #{userid}
    </update>
    <select id="selectUpdatedUser" parameterType="User" resultType="User">
    	SELECT * FROM USERS
    	WHERE USERID LIKE #{userid}
   	</select>
</mapper>